$font-stack: Verdana, sans-serif;
$main-gradient: linear-gradient(to right, #141e30, #243b55);
$opposite-gradient: linear-gradient(to right,#243b55, #141e30);
$mid-night: linear-gradient(to right, #232526, #414345);
$nav-color: #3E3C3C;
$sec-proj-gradient: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, #141e30 84%);
$baby-blue:  #B3C7D6FF;

// top navbar

html {
    font-family: $font-stack;
}

body {
    background: $main-gradient;
}

.greet-h4 {
    margin-bottom: 0.9rem;
}

.top-navbar {
    background-color: #141e30;
    padding: 0 8rem;
    align-items: flex-end;
}

.collapse {
    justify-content: flex-end;
}

.top-navbar .nav-link, .navbar-brand {
    color: #A2A2A1FF !important;
}

.nav-link:hover, .navbar-brand:hover {
    color: #d4d4d4 !important;
}

.nav-link .far {
    margin-top: 0.33rem;
}

//greet section

.medium-navbar-ul {
    list-style-type: none;
    margin: 0 2rem;
    padding: 0;
}

.mn-li {
    margin-top: 1rem;
}

.navm-link {
    color: #A2A2A1FF;
}

.medium-navbar {
    top: 35%;
    position: absolute;
}

.greet-section {
    height: 50rem;
    background: $main-gradient;
}

.navm-link:hover {
    color: #d4d4d4 !important;
}

.hi-section {
    position: absolute;
    color: $baby-blue;
    top: 30%;
    left: 10%;
    font-weight: 500;
}

.greet-h1 {
    color: $baby-blue;
}

.abstract-section {
    position: absolute;
    right: 5%;
    top: 29%;
    display: flex;
    justify-content: flex-end;
}

.abstract-image {
    width: 50%;
    margin: 0;
    padding: 0;
}

//project section

.add-svg {
    width: 10rem;
    position: absolute;
    z-index: -1;
}

#first-svg {
    bottom: 0%;
    left: 1%;
}


#second-svg {
    bottom: 30%;
    right: 1%;
}

#third-svg {
    bottom: 30%;
    right: 1%;
}


.porfolio-section {
    margin: 5rem auto;
    width: 80%;
    position: relative;
    color: $baby-blue;
    margin-bottom: 10rem;
}

.main-project {
    margin: 0 auto;
    text-align: center;
    width: 70%;
}

.main-proj-img {
    width: 80%;
    margin: 1rem 0;
}

.secondary-projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $baby-blue;
}

.secondary-project {
    width: 25rem;
    height: 15rem;
    margin: 2rem;
    padding: 1rem;
    border-radius: 2%;
    position: relative;
}

.secondary-project:hover .project-link {
    display: block;
}

.secondary-project:hover .proj-div {
    display: none;
}

#first-project:hover {
    background: none, url(assets/telegram-bot/example1.png) no-repeat center center; 
    background-size: 100% 100%;
}

#second-project:hover {
    background: none, url(assets/grow-up/logo.png) no-repeat center center; 
    background-size: 100% 100%;
}

#third-project:hover {
    background: none, url(assets/mindcompilator/logo.png) no-repeat center center; 
    background-size: 100% 100%;
}

#fourth-project:hover {
    background: none, url(assets/grow-up/logo.png) no-repeat center center; 
    background-size: 100% 100%;
}

#fifth-project:hover {
    background: none, url(assets/grow-up/logo.png) no-repeat center center; 
    background-size: 100% 100%;
}

#sixth-project:hover {
    background: none, url(assets/grow-up/logo.png) no-repeat center center; 
    background-size: 100% 100%;
}

#first-project {
    background: $sec-proj-gradient, url(assets/telegram-bot/example1.png) no-repeat center center; 
    background-size: 100% 100%;
}
#second-project {
    background: $sec-proj-gradient, url(assets/grow-up/logo.png) no-repeat center center; 
    background-size: 100% 100%;
}
#third-project {
    background: $sec-proj-gradient, url(assets/mindcompilator/logo.png) no-repeat center center; 
    background-size: 100% 100%;
}
#fourth-project {
    background: $sec-proj-gradient, url(assets/grow-up/logo.png) no-repeat center center; 
    background-size: 100% 100%;
}
#fifth-project {
    background: $sec-proj-gradient, url(assets/grow-up/logo.png) no-repeat center center;  
    background-size: 100% 100%;
}
#sixth-project {
    background: $sec-proj-gradient, url(assets/grow-up/logo.png) no-repeat center center;  
    background-size: 100% 100%;
}

.project-link {
    text-decoration: none;
    color: white;
    padding: 1rem;
    background-color: $baby-blue;
    
    position: absolute;
    top: 40%;
    left: 35%;
    border-radius: 5%;
    display: none;
}

.project-link:hover {
    background-color: rgb(164, 184, 199);
    color: white;
}

.proj-div {
    position: absolute;
    bottom: 5%;
}

//footer

.footer {
    margin: 0 auto;
    padding: 5rem;
    padding-bottom: 0;
    background-color: #141e30;
    width: 100%;
    height: 45rem;
}

.footer hr {
    color: $baby-blue;
    width: 90%;
    margin: 0 auto;
}

.resume-a {
    text-decoration: none;
    color: white;
    padding: 0.7rem;
    background-color: rgb(136, 156, 170);
    top: 40%;
    left: 35%;
    border-radius: 5%;
}

.resume-a:hover {
    background-color: rgb(108, 122, 133);
    color: white;
}

.aboutme-section {
    color: #B3C7D6FF;
    font-weight: 500;
}

.form-section {
    width: 30%;
    padding-top: 1.1rem;
    margin-left: 2rem;
  
}

.top-footer-part {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    // margin: 5rem;
}