$font-stack: Verdana, sans-serif;
$main-gradient: linear-gradient(to right, #141e30, #243b55);
$mid-night: linear-gradient(to right, #232526, #414345);
$nav-color: #3E3C3C;

// top navbar

.top-navbar {
    background-color: #141e30;
    padding: 0 8rem;
    align-items: flex-end;
}

.collapse {
    justify-content: flex-end;
}

.top-navbar .nav-link, .navbar-brand {
    color: #A2A2A1FF !important;
}

.nav-link:hover, .navbar-brand:hover {
    color: #d4d4d4 !important;
}

.nav-link .far {
    margin-top: 0.33rem;
}

//greet section

.medium-navbar-ul {
    list-style-type: none;
    margin: 0 2rem;
    padding: 0;
}

.mn-li {
    margin-top: 1rem;
}

.navm-link {
    color: #A2A2A1FF;
}

.medium-navbar {
    top: 35%;
    position: absolute;
}

.greet-section {
    height: 50rem;
    background: $main-gradient;
}

.navm-link:hover {
    color: #d4d4d4 !important;
}

.hi-section {
    position: absolute;
    color: #B3C7D6FF;
    top: 30%;
    left: 10%;
}

.greet-h1 {
    color: #B3C7D6FF;
}
