html {
  font-family: Verdana, sans-serif; }

body {
  background: linear-gradient(to right, #141e30, #243b55); }

button {
  border: none; }

.greet-h4 {
  margin-bottom: 0.9rem; }

.menu-fas {
  color: #A2A2A1FF !important; }

.menu-fas:hover {
  color: #d4d4d4 !important; }

.top-navbar {
  background-color: #141e30;
  padding: 0 8rem;
  align-items: flex-end; }

.collapse {
  justify-content: flex-end; }

.top-navbar .nav-link,
.navbar-brand {
  color: #A2A2A1FF !important; }

.nav-link:hover,
.navbar-brand:hover {
  color: #d4d4d4 !important; }

.nav-link .far {
  margin-top: 0.33rem; }

.medium-navbar-ul {
  list-style-type: none;
  margin: 0 2rem;
  padding: 0; }

.mn-li {
  margin-top: 1rem; }

.navm-link {
  color: #A2A2A1FF; }

.medium-navbar {
  top: 35%;
  position: absolute; }

.greet-section {
  height: 50rem;
  background: linear-gradient(to right, #141e30, #243b55); }

.navm-link:hover {
  color: #d4d4d4 !important; }

.hi-section {
  position: absolute;
  color: #B3C7D6FF;
  top: 30%;
  left: 10%;
  font-weight: 500; }

.greet-h1 {
  color: #B3C7D6FF; }

.abstract-section {
  position: absolute;
  right: 5%;
  top: 29%;
  display: flex;
  justify-content: flex-end; }

.abstract-image {
  width: 50%;
  margin: 0;
  padding: 0; }

.add-svg {
  width: 10rem;
  position: absolute;
  z-index: -1; }

#first-svg {
  bottom: 0%;
  left: 1%; }

#second-svg {
  bottom: 30%;
  right: 1%; }

#third-svg {
  bottom: 30%;
  right: 1%; }

.porfolio-section {
  margin: 5rem auto;
  width: 80%;
  position: relative;
  color: #B3C7D6FF;
  margin-bottom: 10rem; }

.main-project {
  margin: 0 auto;
  text-align: center;
  width: 70%; }

.main-proj-img {
  width: 80%;
  margin: 1rem 0; }

.secondary-projects-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #B3C7D6FF; }

.secondary-project {
  width: 25rem;
  height: 15rem;
  margin: 2rem;
  padding: 1rem;
  border-radius: 2%;
  position: relative; }

.secondary-project:hover .project-link {
  display: block; }

.secondary-project:hover .proj-div {
  display: none; }

#first-project:hover {
  background: none, url(assets/telegram-bot/example1.png) no-repeat center center;
  background-size: 100% 100%; }

#second-project:hover {
  background: none, url(assets/grow-up/logo.png) no-repeat center center;
  background-size: 100% 100%; }

#third-project:hover {
  background: none, url(assets/mindcompilator/logo.png) no-repeat center center;
  background-size: 100% 100%; }

#fourth-project:hover {
  background: none, url(assets/grow-up/logo.png) no-repeat center center;
  background-size: 100% 100%; }

#fifth-project:hover {
  background: none, url(assets/grow-up/logo.png) no-repeat center center;
  background-size: 100% 100%; }

#sixth-project:hover {
  background: none, url(assets/grow-up/logo.png) no-repeat center center;
  background-size: 100% 100%; }

#first-project {
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, #141e30 84%), url(assets/telegram-bot/example1.png) no-repeat center center;
  background-size: 100% 100%; }

#second-project {
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, #141e30 84%), url(assets/grow-up/logo.png) no-repeat center center;
  background-size: 100% 100%; }

#third-project {
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, #141e30 84%), url(assets/mindcompilator/logo.png) no-repeat center center;
  background-size: 100% 100%; }

#fourth-project {
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, #141e30 84%), url(assets/grow-up/logo.png) no-repeat center center;
  background-size: 100% 100%; }

#fifth-project {
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, #141e30 84%), url(assets/grow-up/logo.png) no-repeat center center;
  background-size: 100% 100%; }

#sixth-project {
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, #141e30 84%), url(assets/grow-up/logo.png) no-repeat center center;
  background-size: 100% 100%; }

.project-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0.6rem;
  background-color: #889caa;
  border-radius: 5%;
  margin: 0.1rem; }

.project-link:hover {
  background-color: #667685;
  color: black; }

.links-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20%; }

.proj-div {
  position: absolute;
  bottom: 5%; }

.carus-img {
  max-height: 25rem;
  margin: 0 auto; }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: #141e30;
  background-color: #141e30; }

.footer {
  margin: 0 auto;
  padding: 5rem;
  padding-bottom: 0;
  background-color: #141e30;
  width: 100%;
  height: 55rem; }

.footer hr {
  color: #B3C7D6FF;
  width: 90%;
  margin: 0 auto; }

.resume-a {
  text-decoration: none;
  color: black;
  padding: 0.7rem;
  background-color: #889caa;
  top: 40%;
  left: 35%;
  border-radius: 5%;
  font-weight: 500; }

.resume-a:hover {
  background-color: #667685;
  color: black;
  font-weight: 500; }

.aboutme-section {
  color: #B3C7D6FF;
  font-weight: 500; }

.form-section {
  width: 30%;
  padding-top: 1.1rem;
  margin-left: 2rem; }

.top-footer-part {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 3rem; }

.abilities-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #B3C7D6FF;
  margin: 3rem; }

.footer-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 700; }

.footer .medium-navbar-ul {
  display: flex;
  justify-content: center;
  margin-top: 1rem; }

.footer .medium-navbar-ul .mn-li {
  margin-right: 1rem; }

@media only screen and (max-width: 768px) {
  .section-title {
    text-align: center; }

  .first-div {
    display: flex;
    justify-content: space-between; }

  .top-navbar {
    padding: 1rem; }

  .medium-navbar-ul {
    display: flex;
    justify-content: space-between;
    position: relative; }

  .medium-navbar {
    position: static;
    margin-top: 5rem; }

  .greet-section {
    display: flex;
    position: static;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 2rem; }

  .abstract-section {
    margin-top: 3rem;
    position: static; }

  .hi-section {
    position: static; }

  .porfolio-section {
    width: 98%; }

  .top-footer-part {
    flex-direction: column; }

  .form-section {
    width: 95%;
    margin-top: 3rem;
    margin-left: 0;
    margin-bottom: 2rem; }

  .footer {
    height: auto;
    padding: 2rem; }

  .medium-navbar-ul {
    padding-bottom: 3rem; }

  .abil-h3 {
    font-size: 36px;
    text-align: center; }

  .abilities-section {
    flex-direction: column;
    align-content: center;
    font-size: 24px;
    text-align: center; }

  .frameworks {
    margin-top: 3rem; }

  .skills {
    margin-top: 3rem; } }
@media only screen and (max-width: 1100px) {
  .form-section {
    margin-top: 2rem;
    width: 95%;
    margin-left: 0; }

  .footer {
    height: auto; }

  .medium-navbar-ul {
    padding-bottom: 3rem; }

  .abstract-image {
    width: 30%; }

  .porfolio-section {
    width: 95%; }

  .aboutme-section {
    width: 95%; } }

/*# sourceMappingURL=styles.css.map */
